li, ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.coin-list-container {
  margin-top: 65px;
}

.coin-list-header li {
  color: #77BDC9;
  text-decoration: underline;
}

.coin-list {
  display: flex;
  flex-direction: column;
}

.coin-item {
  list-style: none;
  animation: slideIn .25s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

.coin-info, .coin-list-header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.coin-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.coin-info li {
  text-align: center;
  width: 100px;
}
